.text {
  color:#003399;
}


h1 {
  align-items: center;
  font-family:cursive;
  background-color: teal;
}

html {
  background-color: #707070;
}

.center {
  align-items: center;
}

h3 {
  align-items:center;
}

.titles {
  font-size: 12px;
  color:#0000FF;
  font-weight: bolder;
}

body {
  background-color: #ccff99;
}


.personal {
  text-align: center;
  text-transform: capitalize;
  color: gray;
  border-style: groove;
  border-style: ridge;
}

.pics {
    width: 50%;
    z-index: 0;
    height: 220px;
    border: 2px;
    border-style:outset;
    border-color: #707070;

}
