.text {
  color:orange;
  padding-left:80px;
  padding-right:80px;
}


h1 {
  align-items:center;
  font-family:cursive;
  background-color: teal;
}

html {
  background-color: #707070;
}

.center {
  align-items: center;
}

h3 {
  align-items:center;
}

.titles {
  font-size: 12px;
  color:#0000FF;
  font-weight: bolder;
}

body {
  background-color: #ccff99;
}


.personal {
  text-align: center;
  text-transform: capitalize;
  color: gray;
  border-style: groove;
  border-style: ridge;
}

.pics {
    width: 50%;
    z-index: 0;
    height: 220px;
    border: 8px;
    border-style:ridge;
    border-color: #707070;

}.titles2 {
  font-size: 18px;
  color:#0000FF;
  font-weight: bolder;
  text-align: center;
}

.titlenew {
  align-items:center;
  font-family:cursive;
  background-color: orange;
  font-size:14px;
  padding-top: 2%;
  padding-left: 4px;
  padding-bottom: 1%;
  border-radius: 90px;

}

li {
  color:#990000;
}

.myname {
  text-decoration: underline;
  font-size:14px;
}

.weclome {
  color: #003399;
}

h2 {
  align-items:center;
  font-family:cursive;
  background-color: orange;
  font-size:18px;
  padding-left: 40px;
  padding-bottom: 1%;
  border-radius: 70px;
  padding-top: 8px;
}
.aboutme {
  font-family:cursive;
  background-color: orange;
  font-size:18px
}

.pics2 {
    float:inherit;
    width: 150px;
    height: 150px;
}

.jake{
    float: left;
    font-size: 18px;
    color:#teal;
    font-weight: bolder;
    text-align: center;
}

.pics3 {
  height: 80px;
  width: 80px;
  float:left;
  padding-left: 10px;
  border-width: thick;
  border-style: double;
  border-color: orange;
}

.pics4 {
  height: 80px;
  width: 80px;
  float:right;
  padding-right: 10px;
  border-width: thick;
  border-style: double;
  border-color: orange;
}

.personal p {
  font-size: 16px;
  font-family: fantasy;
}
